<div id="map_canvas">
<div id="map"> 
<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Alencarliense+Alves,+Campo+Grande+-+Mato+Grosso+do+Sul&amp;aq=0&amp;oq=rua+alencarl&amp;sll=-20.875572,-54.261694&amp;sspn=1.688551,2.90863&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Alencarliense+Alves+-+Maria+Aparecida,+Campo+Grande+-+Mato+Grosso+do+Sul,+79044-350&amp;t=m&amp;z=14&amp;ll=-20.467526,-54.550856&amp;output=embed"></iframe>
</div>
</div>
		
<div class="clear"></div>

<br />

<div class="container">
	
		<div class="row">
		
			<!-- inner heading will come here -->
			
		
		<div class="contact-area span8">
		
		<div class="contact-form">
		
			<form action="" method="post" id="contact_form" >
				
				<div class="form">
									
					<p>
					<input type="text" id="name" value="Nome" name="name"/>
					</p>
					
					<p>
					<input type="text" id="email_form" Value="Email" name="email_form" />
					</p>
				
					<div class="clear"></div>
					
					<textarea name="message" id="message">Sua Mensagem</textarea>
				
				</div>
				
				<div class="clear"></div>
				
				<a href="#" id="send_message" class="">Enviar</a>
			
			
				<div id="mail_success"><span>Email enviado com sucesso!</span></div>
				<div id="mail_fail"><span>Erro no servidor tente novamente</span></div>
				
				
			</form>
		
			
		</div>
			
		</div>
	
		<aside id="sidebar" class="span4 contact">
		
		<div class="sidebar-widget">
			<h4>Detalhes</h4>
	<ul class="catagories">
				<li>
				<span class="icon-home"></span>
				<a href="#">Rua tal</a>
				</li>
				
				<li>
				<span class="icon-phone"></span>
				<a href="#">(67) 3232-3232</a>
				</li>
				
				<li>
				<span class="icon-print"></span>
				<a href="#">(67) 3232-3232</a>
				</li>
				
				<li>
				<span class="icon-envelope"></span>
				<a href="#" class="sp">contato@wasteblue.com</a>
				</li>
				
				
			</ul>		
		</div>
		

		</aside>
		
		<div class="clear"></div>
			
</div>

	</div>