<div class="clear"></div>
		<div class="inner-head">
		<div class="container">
		<div class="row">
			<div class="span6">
				<h3>A WasteBlue.com</h3>
			</div>
			

		</div>

		</div>
		</div>
		<div class="row">
		
		
			<div class="clear"></div>
			
			<div class="span6">
			<h4></h4>
			<p>A partir da problemática da atual situação do comércio de resíduos no Brasil a WasteBlue.com vem com uma ideia inovadora para solucionar os problemas de empresas e de cidadãos comuns como eu e você.<br /> <br>Somos uma plataforma de comercialização de resíduos que integra todos meios envolvidos, desde empresas que dentro do ciclo de vida de seus produtos são obrigados a se responsabilizar pelos resíduos gerados até os cidadãos preocupados com a destinação final mais sustentável de seus detritos, unindo assim esses “vendedores/geradores” com os “compradores” que utilizam destes produtos como insumos em sua produção, as empresas facilitadoras que possivelmente podem se envolver na negociação, transportadoras e consultorias ambientais. </p>
			</div>
			
			<div class="span6">
			<h4></h4>
			<p>
				 Buscando uma transformação dos passivos ambientais em ativos financeiros, a Wasteblue.com conecta todos os interessados em um só espaço virtual de fácil acesso e simples negociação.<br><br>
				Sejam toneladas de bagaço de cana-de-açucar produzidos por uma Usina, ou alguns quilos de alumínio reciclados ofertados por uma cooperativa de catadores, são muitos os tipos de materias reaproveitados que podem ser comercializados.  </p>
			</div>
			
			<br class="clear" />
			<br class="clear" />
		</div>
		<div class="center-heading">
					<span>Nossa equipe</span>
			</div>
			<div class="clear"></div>

			<div class="usquare_module_shade"></div>
			<div class="clear"></div>
				<div class="span4 people">
					<img src="/files/p1.jpg" alt="" />
					<h5>Paulo Sérgio Bertazzi Rodriguez</h5>
					<span class="post">Co-Founder | CEO</span>
					<p>
						Graduado em Engenharia Ambiental pela Universidade Federal do Mato Grosso do Sul - UFMS e mestre em Tecnologias Ambientais pela mesma instituição de ensino. Atualmente professor na instituição de Ensino Superior Estácio de Sá nos cursos tecnológicos de Gestão Ambiental e de Segurança do Trabalho no Campus de Campo Grande – MS. Aficionado por ideias inovadoras no setor busca em seus projetos implantar ideias simples e acessíveis a toda as classes da sociedade.
					</p>
					
					<section class="social">
			
						<ul>
					
							<li>
							<a href="#" class="facebook">
							<span class="icon-facebook"></span>
							</a>
							</li>
							
							<li><a href="#" class="twitter"><span class="icon-twitter"></span></a>
							</li>
							
							<li>
							<a href="#" class="google-plus">
							<span class="icon-google-plus">        </span>
							</a>
							
							</li>
						</ul>
					
					</section>
				</div>
				<div class="span4 people">
					<img src="/files/p2.jpg" alt="" />
					<h5>Lauren Feder</h5>
					<span class="post">Gerente de Marketing</span>
					<p>Publicitária, graduada na Faculdade Estácio de Sá de Campo Grande, pós graduanda em comunicação e marketing pela mesma instituição e mestranda em comunicação pela Universidade Federal de Mato Grosso do Sul, onde direciona suas pesquisas para o meio ambiente. Sedenta por soluções inovadoras, integra a equipe WasteBlue.com na gerência de comunicação e marketing da empresa.</p>
					
					<section class="social">
			
						<ul>
					
							<li>
							<a href="#" class="facebook">
							<span class="icon-facebook"></span>
							</a>
							</li>
							
							<li><a href="#" class="twitter"><span class="icon-twitter"></span></a>
							</li>
							
							<li>
							<a href="#" class="google-plus">
							<span class="icon-google-plus">        </span>
							</a>
							
							</li>
						</ul>
					
					</section>
				</div>			

			<br class="clear" />
			<br class="clear" />
			<br class="clear" />
			<br class="clear" />
				
			
				<div class="contact-box blue span12">
					<div class="arrow-circle">
					</div>
				<h4>Receba novidades diretamente em seu email.</h4>
				<a class="buttonred" href="http://eepurl.com/vGsWT">Assine nossa newsletter</a>
				</div>