<div class="padrao_box">
  <div class="form_padrao">
    <h1>Meu Perfil</h1>
    <% if user_signed_in? %>
      <%= link_to "Editar Perfil", "/pessoa_fisica/conta/#{current_user.id}/editar", :class => "btn btn-primary" %>
    <% end %>
    <header>
      <h3>Dados do Usuario</h3>
    </header>
    <article>
      <div>
        <label><strong>Email:</strong></label>
        <p><%= @user.email %></p>
      </div>
    </article>
  </div>
</div>