
	<% if user_signed_in? %>


	<section class="span8">
		
				<nav>
					<ul class="sf-menu">
					

						
						<li class="home">
						<a  data-description="" href="">Anúncie
						<span class=""></span>
						<span class="border"></span>
						</a>
						
						
						</li>
						
						              
						<li>
							<a href="#" data-description="">Minha Conta 
								<span class=""></span>
							<span class="border"></span></a>
						

						</li>

						<li>
							<a href="#" data-description="">Meus Anúncios 
								<span class=""></span>
							<span class="border"></span></a>
						

						</li>


                                              
						<li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>   </span>						
						<span class="border"></span>
						</a></li>
						
					</ul>
				</nav>	
			
		   </section>



		<% else %>

		<!-- Quando o usuario nao estiver logado apresentar este menu -->

			<section class="span8">
		
				<nav>
					<ul class="sf-menu">
					

						
						<li class="home">
						<a  data-description="" href="">Anúncie
						<span class=""></span>
						<span class="border"></span>
						</a>
						
						
						</li>

						<li>
						<a  data-description="" href="">Anúncios
						<span class=""></span>
						<span class="border"></span>
						</a>
						
						
						</li>
						
						              
						<li>
							<a href="#" data-description="">Como funciona 
								<span class=""></span>
							<span class="border"></span></a>
						

						</li>

						<li>
							<%= link_to('Cadastrar', new_user_registration_path)  %> 
								<span class=""></span>
							<span class="border"></span>
						

						</li>

						<li>
							<%= link_to('Login', new_user_session_path)  %> 
								<span class=""></span>
							<span class="border"></span>
						

						</li>


                                              
						
					</ul>
				</nav>	
			
		   </section>

		<% end %>