<h5>Escolha o residuo que deseja anunciar</h5>
<div class="field">
  <%= f.label "Categoria" %><br />
  <%= f.select :category_id, @categories.collect { |c| [c.name, c.id] } %>
</div>
<div class="field">
  <%= f.label :waste_name %><br />
  <%= f.text_field :waste_name %>
  <ul id="myTags"></ul>
</div>
<script>
  $().ready(function(){
    $("#myTags").tagit();
  });

  $("#purchasing_ad_category_id").change(function(){
    $.ajax({
      url: "/done",
      dataType: 'json',
      beforeSend: function() { alert("Começa") },
      data: {
        id:$(this).val(),
      },
      success: function(data) {
        $("#myTags").find('li').remove();
        $.each(data,function(key,value){
          console.log(key+" - "+value.id + " - "+value.name+" ...")
          $("#myTags").append("<li id="+value.id+">"+value.name+"</li>");
          
        })
        $("#myTags").tagit();
      }
    });
  });
</script>