<h5>Escolha o residuo que deseja anunciar</h5>
<div class="field">
  <%= f.label "Categoria" %><br />
  <%= f.select :category_id, @categories.collect { |c| [c.name, c.id] } %>
</div>
<div class="field">
  <%= f.label :waste_name %><br />
  <%= f.text_field :waste_name %>
</div>
<script>
  $("#purchasing_ad_category_id").change(function(){
    $.ajax({
      url: "/done",
      beforeSend: function() { alert("Começa") },
      data: {
        id:$(this).val(),
      },
      success: function() { alert('Termina') }
    });
  });
</script>