<section id="sidebar_an">
  <span>
    Violeiro
  </span>
</section>
<section id="content_an">
  <h1>Anuncios</h1>
  <ul id="item_list">
    <li class="buy">
      <% @purchasing_ads.each do |purchasing_ad| %>
          <%= purchasing_ad.title %>
          <%= purchasing_ad.category_id %>
          <%= purchasing_ad.user_type %>
      <% end %>
    </li>
  </ul>
</section>