			<div class="container">
				<!--categorizando-->
				<div class="row">
					<br />
					<center><h1>Como funciona?</h1></center>
					<div style="float:left; width:45%;">
					<p>Waste Blue é um portal para comercialização de resíduos entre indivíduos e empresas.</p>
					<p>Para o comprador, basta entrar no site e dentre os anúncios de resíduos separados por quantidade,  classificação e estado; escolher o que satisfaz sua necessidade.</p>
					<hr />
					</div>
					<div style="float:right; width:45%;">
					<p>Após isso, já cadastrado, finalize a compra e trate as condições de entrega diretamente com o vendedor por email ou telefone.</p>
					<p>Para vendedores, basta cadastratar seu nome físico ou jurídico e adicionar anúncios. A forma de comercialização segue o mesmo parâmetro que para o comprador.</p>
					<hr />
					</div>
					
				</div>
				<div class="row">
					<center><h1>Últimos anúncios adicionados</h1></center>
				</div>

				<div class="row">
					<center><h1>Os mais buscados</h1></center>

					
				</div>

            </div>