<div class="padrao_box">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h3>Anúncie</h3>
        <h5>Escolha um desses tipos de anúncio:</h5>
        <div class="span3">
          <%= link_to "Anunciar Venda", novo_anuncio_venda_juridica_path, :class => "btn btn-large btn-success" %>
        </div>
        <div class="span3">
          <%= link_to "Anunciar Compra", "#", :class => "btn btn-large btn-warning" %>
        </div>
			</div>
		</div>
	</div>
</div>