<div class="clear"></div>
		<div class="inner-head">
		<div class="container">
		<div class="row">
			<div class="span6">
				<h3>Perguntas Frequentes</h3>
			</div>
			

		</div>

		</div>
		</div>

<div class="container">
	<div class="row">
			
		

		<div class="span12">
		
		<p>You can find answers to most of your questions below. Simply
		toggle between the questions. Lorem ipsum dolor sit amet,
		consectetur adipiscing elit. Nunc congue neque felis, non
		elementum metus. Duis laoreet ante vitae tortor imperdiet
		euismod. Morbi mollis pharetra consequat. Curabitur a est purus.
		</p>
		
		
		<div class="toggles"> <div class="toggle-panel">
			
		<h4>General Question</h4>
	
		<a href="#" class="toggle_trigger">Q. How do I change
		consectetur adipiscing elit? <span ></span></a> <div
		class="toggle_container"> <p> A. Curabitur ultrices consequat
		libero gravida dignissim. Fusce in erat est. Etiam bibendum
		ultricies nulla, nec convallis purus blandit ac. Fusce ornare
		commodo odio. Pellentesque habitant morbi tristique senectus et
		netus et malesuada fames ac turpis egestas.</p> </div>
			
		<a href="#" class="toggle_trigger ">Q. How do I change Donec sit
		amet suscipit lorem? <span ></span></a> <div
		class="toggle_container"> <p>Lorem ipsum dolor sit amet,
		consectetur adipiscing elit. Donec sit amet suscipit lorem.
		Fusce mattis lobortis dui, at eleifend neque malesuada quis. Ut
		sollicitudin orci at massa suscipit sed porta odio pretium. Nam
		id turpis sit amet neque imperdiet porta sit amet non dolor.
		Aenean quis porta enim. </p> </div>
		
		<a href="#" class="toggle_trigger">Q. How do I change
		consectetur adipiscing elit? <span></span></a> <div
		class="toggle_container"> <p>Lorem ipsum dolor sit amet,
		consectetur adipiscing elit. Donec sit amet suscipit lorem.
		Fusce mattis lobortis dui, at eleifend neque malesuada quis. Ut
		sollicitudin orci at massa suscipit sed porta odio pretium. Nam
		id turpis sit amet neque imperdiet porta sit amet non dolor.
		Aenean quis porta enim. </p> </div>
		
		<a href="#" class="toggle_trigger">Q. How do I change Donec sit
		amet suscipit lorem? <span></span></a> <div
		class="toggle_container"> <p>Lorem ipsum dolor sit amet,
		consectetur adipiscing elit. Donec sit amet suscipit lorem.
		Fusce mattis lobortis dui, at eleifend neque malesuada quis. Ut
		sollicitudin orci at massa suscipit sed porta odio pretium. Nam
		id turpis sit amet neque imperdiet porta sit amet non dolor.
		Aenean quis porta enim. </p> </div>
		
		<h4>Technical Question</h4>

		<a href="#" class="toggle_trigger">Q. How do I change
		consectetur adipiscing elit? <span></span></a> <div
		class="toggle_container"> <p>Lorem ipsum dolor sit amet,
		consectetur adipiscing elit. Donec sit amet suscipit lorem.
		Fusce mattis lobortis dui, at eleifend neque malesuada quis. Ut
		sollicitudin orci at massa suscipit sed porta odio pretium. Nam
		id turpis sit amet neque imperdiet porta sit amet non dolor.
		Aenean quis porta enim. </p> </div>
		
		<a href="#" class="toggle_trigger">Q. How do I change Donec sit
		amet suscipit lorem? <span></span></a> <div
		class="toggle_container"> <p>Lorem ipsum dolor sit amet,
		consectetur adipiscing elit. Donec sit amet suscipit lorem.
		Fusce mattis lobortis dui, at eleifend neque malesuada quis. Ut
		sollicitudin orci at massa suscipit sed porta odio pretium. Nam
		id turpis sit amet neque imperdiet porta sit amet non dolor.
		Aenean quis porta enim. </p> </div>
		
		<a href="#" class="toggle_trigger">Q. How do I change
		consectetur adipiscing elit? <span></span></a> <div
		class="toggle_container"> <p>Lorem ipsum dolor sit amet,
		consectetur adipiscing elit. Donec sit amet suscipit lorem.
		Fusce mattis lobortis dui, at eleifend neque malesuada quis. Ut
		sollicitudin orci at massa suscipit sed porta odio pretium. Nam
		id turpis sit amet neque imperdiet porta sit amet non dolor.
		Aenean quis porta enim. </p> </div>
		
		<a href="#" class="toggle_trigger">Q. How do I change Donec sit
		amet suscipit lorem? <span></span></a> <div
		class="toggle_container"> <p>Lorem ipsum dolor sit amet,
		consectetur adipiscing elit. Donec sit amet suscipit lorem.
		Fusce mattis lobortis dui, at eleifend neque malesuada quis. Ut
		sollicitudin orci at massa suscipit sed porta odio pretium. Nam
		id turpis sit amet neque imperdiet porta sit amet non dolor.
		Aenean quis porta enim. </p> </div>
		
		<a href="#" class="toggle_trigger">Q. How do I change
		consectetur adipiscing elit? <span></span></a> <div
		class="toggle_container"> <p>Lorem ipsum dolor sit amet,
		consectetur adipiscing elit. Donec sit amet suscipit lorem.
		Fusce mattis lobortis dui, at eleifend neque malesuada quis. Ut
		sollicitudin orci at massa suscipit sed porta odio pretium. Nam
		id turpis sit amet neque imperdiet porta sit amet non dolor.
		Aenean quis porta enim. </p> </div>

		<h4>Payment Question</h4>
		
		
		<a href="#" class="toggle_trigger">Q. How do I change
		consectetur adipiscing elit? <span></span></a> <div
		class="toggle_container"> <p>Lorem ipsum dolor sit amet,
		consectetur adipiscing elit. Donec sit amet suscipit lorem.
		Fusce mattis lobortis dui, at eleifend neque malesuada quis. Ut
		sollicitudin orci at massa suscipit sed porta odio pretium. Nam
		id turpis sit amet neque imperdiet porta sit amet non dolor.
		Aenean quis porta enim. </p> </div>
		
		</div>
		
			
		</div>

		
		
		</div>
		
		<div class="clear"></div>

	</div>

		<br /> <br /> <br />
	
</div>