<p>Olá <%= @resource.email %>!</p>

<p>Foi solicitada a troca de sua senha. Você pode realizar a troca clicando no link abaixo.</p>

<p><%= link_to 'Trocar senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não realizou essa requisição, apenas ignore o email.</p>
<p>Sua senha não sera trocada até que você clique no link 'Trocar senha'</p>
