#header.bg{
background-color:#000000;
}
#header.bg,.sort a.current_link{background-color:#000000;}.service-block:hover{background-color:#000000}section.social ul li a.facebook:hover{background:#000000;}section.social ul li a.twitter:hover{background:#000000;}section.social ul li a.google-plus:hover{background:#000000;}.flex control-paging li a.flex-active{background:#000000;}.da-thumbs li .main div{background-color:#000000;}.recent-blog .containt:hover{background-color:#000000;}.flex-control-paging li a.flex-active{background-color:#000000;}.flex-control-paging li a:hover{background-color:#000000;}#bx-pager{border-top:2px solid #000000;}#bx-pager a.active:before{border-top-color:#000000;}.bx-wrapper .bx-prev:hover{background-color:#000000}.bx-wrapper .bx-next:hover{background-color:#000000}#footer .footer-widget ul.list li a:before{background-color:#000000;}#footer .footer-widget ul.list li a:hover:before{background-color:#000000;color:#000000;}#footer .footer-widget ul.list li a:hover{color:#000000;}.carousel .next:hover, .carousel .prev:hover,a.submit,.bottom-footer,.sf-menu li a:hover{background-color:#000000;}.bx-wrapper li a span{color:#000000;}#footer,#footer .footer-widget h4:before{border-top-color:#000000;}.sf-menu li li:hover .icon span{color:#000000;}.sf-menu a, .sf-menu a:visited{color:#000000;}.sf-menu li a{color:#000000;}.sf-menu .sfHover>a{color:#fff;background:#000000;}.sf-menu li li{background:#000000;}.stylish>span,div.comment-cout,.arrow-circle{background-color:#000000;}.halfCircleBottom,.halfCircleright{border-color:#000000;}div>a.read,.gallery.full-width .da-thumbs li .main div a.read{color:#000000;}.nivo-controlNav a:hover,.nivo-controlNav a.active{background:#000000;}.flex-caption.bottom .textp,.flex-caption.bottom .right .btcolor,.flex-caption.left .textp{background:#000000;}.flex-caption.left .textp{color:#fff;}.flex-caption.left .btcolor{background:#000000;}.flex-caption.bottom .textp:after{border-top-color:#000000;}#send_message,#send{background:#000000;}.sf-menu li a:hover:before{border-color: #000000 #000000 transparent transparent;}.sf-menu li a:hover:after{border-top:10px solid #000000;}.circleright{border-top-color:#000000;border-right-color:#000000;border-bottom-color:#000000;}a.active-button{background:#000000;}div.node{background-color:#000000;}.people span.post{color:#000000;}.buttonred:hover,.ca-content-wrapper{background-color:#000000;}.list li:hover span,span.drop,.post-info a span.icon-comment,.post-info a.post-read,ul.catagories li:hover a,ul.bullet-list li span,a.toggle_trigger span{color:#000000;}.search input.submit,.mailchimp a,.blog-post:hover .post-contant,.widget-controls .flex-direction-nav li a:hover,.tags a:hover:after,.tags a:hover,ul.catagories li:hover span,.accordion a.current,.toggle_trigger.toggle_active,.tabs li a.current,.home-tab .tabs:after,.pricing_table_wdg ul.bestb li:last-child a,.pricing_table_wdg ul li:last-child:hover a{background-color:#000000;}.pricing_table_wdg ul.bestb{border-color:#000000;}");
/*****************************/

div.flex-caption.left .textp{
background:#000000;
color:#fff;
}


.flex-caption.bottom .textp{
background:#000000;
color:#fff;
}
.flex-caption.bottom .textp:after{
border-right:2px solid #000000;
}





.flex-caption.bottom .right .btcolor{
color:#fff;
background:#000000;

}



/************* caption left **************/


.flex-caption.left .textp{
background:#000000;
color:#fff;
position:relative;
}



.flex-caption.left .textp h2 {
text-shadow:0 2px 2px rgba(255,255,255,0.2);
}



.flex-caption.left .textp p{

text-shadow:0 3px 2px rgba(255,255,255,0.2);
}

.flex-caption.left .btcolor {
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
}
